@media (max-width: 1130px) {
  .survey .container {
    max-width: 700px;
  }

  .survey__img {
    margin: 0 auto;
  }

  .survey__inner {
    padding: 30px;
  }
}

@media (max-width: 900px) {
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }

  .hero__inner {
    padding-top: 70px;
    flex-direction: column;
    text-align: center;
    background-position: right center;
  }

  .partners .partners-slider {
    padding: 0;
  }
}

@media (max-width: 800px) {
  .features__item {
    width: calc(100% / 12 * 6 - 40px);
  }
}

@media (max-width: 768px) {
  .questions {
    padding: 50px 0;
  }

  .header__menu {
    display: none;
  }

  .header__logo img {
    width: 80%;
  }

  .partners-slider__item {
    padding: 50px 0;
  }

  .questions__item-head {
    font-size: 16px;
    line-height: 30px;
  }
}

@media (max-width: 520px) {
  .survey__inner {
    padding: 25px 15px;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 14px;
    line-height: 22px;
  }

  .header {
    padding-top: 20px;
  }

  .header__logo img {
    width: 70%;
  }

  .hero__title {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .features__item {
    width: calc(100% - 40px);
  }

  .questions__item-head {
    padding-left: 10px;
  }

  .questions__item-body {
    padding-left: 10px;
  }
}
