.partners {

  &__title {
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $gray-color;
  }

  .partners-slider {
    padding: 0 70px;

    &__item {
      padding: 70px 0;
      align-items: center;
      display: flex !important;
      justify-content: center;
    }
  }
}
